@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
//mainContainer variables
$mainContainerWidth: 80vw;
$mainContainerPaddingBlock: 5rem;
$mainContainerBorderRadius: 2rem;
$mainContainerFS: 4rem;

//quoteGenerator variables
$quoteGeneratorWidth: 85%;
$quoteGeneratorMarginBottom: 2rem;

//interactionContainer variables
$interactionContainerWidth: 85%;

//BTN variables
$btnBorderRadius: 999px;
$btnPadding: 1rem 1.5rem;
$btnWidth: 13rem;
$btnFS: 1.5rem;

$fontFamily: "Ubuntu", sans-serif;

:root {
  font-size: 10px;
}
body {
  background: rgb(47, 108, 134);
  background: linear-gradient(
    146deg,
    #2f6c86 0%,
    #66386d 68%
  );
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: $fontFamily;
}
#loaderAnimation {
  border: none;
  position: absolute;
}
#developer{
  opacity: 0.5;
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 89%;
  text-align: center;
}
#mainContainer {
  background: #4b2d5661;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.448);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  width: $mainContainerWidth;
  font-size: $mainContainerFS;
  padding-block: $mainContainerPaddingBlock;
  .textArea {
    margin: 0 auto;
    text-align: center;
    margin-bottom: $quoteGeneratorMarginBottom;
  }
  #quoteGenerator {
    width: $quoteGeneratorWidth;
    font-size: 2.5rem;
  }
  #author {
    font-size: 1.5rem;
  }
  #interactionContainer {
    width: $interactionContainerWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
}
button[type="button"] {
  border-radius: $btnBorderRadius;
  border: none;
  padding: $btnPadding;
  width: $btnWidth;
  font-family: $fontFamily;
  font-size: $btnFS;
  background-color: #4ea4b7;
  color: white;
  font-weight: 700;
  transition: all 0.5s ease, all 0.3s ease;
  box-shadow: 0rem 0rem 2rem #2d353f;
  cursor: pointer;
}
button[type="button"]:hover {
  background-color: #328fa4;
}
button[type="button"]:active {
  transform: translateY(0.2rem);
}
